.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); /* darken everything else */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* ensures it's on top */
}

.modal_content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  min-width: 300px;
  max-width: 700px;
}
.all_container{
    background-color: rgb(34, 33, 33);
    width: 100vw;
    height: 100vh;
}
.title{
    font-size: 50px;
    text-align: left;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.username{
    display: inline-block;
    position: absolute;
    right: 200px;
    padding-top: 10px;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.log_out_button{
    position: absolute;
    right: 50px;
    margin-top: 23px;
    background-color: rgb(56, 220, 56);
    border: none;
    color: blue;
    font-size: 20px;
    cursor: pointer;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.dash_container{
    background-color: rgb(56, 220, 56);
}
.button{
  width: 28vw;
  height: 10vh;
  cursor: pointer;
  font-size: 25px;
  background-color: rgb(155, 155, 155);
}
.buttons_container{
  display: flex;
  justify-content: space-evenly;
}